@{
    ViewBag.Title = "Обмен валюты";
}

<html>
<body>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="main_block">
                    <div class="screen-init">
                        <h1 class="valuta-header">Обмен валюты онлайн</h1>
                        <div class="steps-info">
                            <table class="center desc_steps nohover">
                                <tr>
                                    <td class="desc_steps"><span class="highlighting">Выберите</span> валюту для обмена</td>
                                    <td class="desc_steps"><span class="highlighting">Укажите</span> желаемую сумму</td>
                                    <td class="desc_steps"><span class="highlighting">Нажмите</span> далее, 
                                    <br>а затем введите ваши платежные данные</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="valuta-col-450">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="valuta-course-wrapper">
                                        <div class="valuta-course">
                                            <p class="valuta-course__title">Я продаю</p>
                                            <div class="radio">
                                                <label class="valuta-course_label">
                                                    <input type="radio"
                                                           name="course"
                                                           data-currency="usd"
                                                           data-operation="buy"
                                                           data-course="@ViewBag.usdBuy"
                                                           checked="checked">
                                                    <span class="valuta-course__text">
                                                        <span>
                                                            @ViewBag.usdBuy
                                                        </span>
                                                        <sup>$</sup>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="valuta-course_label">
                                                    <input type="radio"
                                                           name="course"
                                                           data-currency="eur"
                                                           data-operation="buy"
                                                           data-course="@ViewBag.eurBuy">
                                                    <span class="valuta-course__text">
                                                        <span>
                                                            @ViewBag.eurBuy
                                                        </span>
                                                        <sup>€</sup>

                                                    </span>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="valuta-course-wrapper">
                                        <div class="valuta-course">
                                            <p class="valuta-course__title">Я&nbsp;покупаю</p>

                                            <div class="radio">
                                                <label class="valuta-course_label">
                                                    <input type="radio"
                                                           name="course"
                                                           data-currency="usd"
                                                           data-operation="sell"
                                                           data-course="@ViewBag.usdSell">
                                                    <span class="valuta-course__text">
                                                        <span>
                                                            @ViewBag.usdSell
                                                        </span>
                                                        <sup>$</sup>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="valuta-course_label">
                                                    <input type="radio"
                                                           name="course"
                                                           data-currency="eur"
                                                           data-operation="sell"
                                                           data-course="@ViewBag.eurSell">
                                                    <span class="valuta-course__text">
                                                        <span>
                                                            @ViewBag.eurSell
                                                        </span>
                                                        <sup>€</sup>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="valuta-col-280">
                            <div class="valuta-input">
                                <div class="valuta-input__left">
                                    <label class="valuta-input__label">
                                        Введите сумму<br>для обмена:
                                    </label>
                                </div>
                                <div class="valuta-input__right">
                                    <input id="myInput" class="valuta-input__form-control" 
                                           type="number"
                                           min="1" max="9999999">
                                </div>
                            </div>
                                <div class="order-params">
                                    <div class="order-params__item">
                                        <div class="order-params__left">
                                            <div class="order-params__normal-text">
                                                Я
                                                <span class="js-operation"></span>
                                                <span class="js-currency"></span>
                                            </div>
                                        </div>
                                        <div class="order-params__right">
                                            <div class="order-params__big-text js-amount"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-params">
                                    <div class="order-params__item">
                                        <div class="order-params__left">
                                            <div class="order-params__normal-text">
                                                По курсу &#8381
                                            </div>
                                        </div>
                                        <div class="order-params__right">
                                            <div class="order-params__big-text js-selected_cours"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-params">
                                    <div class="order-params__item">
                                        <div class="order-params__left">
                                            <div class="order-params__normal-text">
                                                Дата расчетов
                                            </div>
                                        </div>
                                        <div class="order-params__right">
                                            <div class="order-params__big-text js-сurrDate"></div>
                                        </div>
                                    </div>
                                </div>
                            <div class="order-params">
                                <div class="order-params__item">
                                    <div class="order-params__left">
                                        <div class="order-params__normal-text">
                                            Сумма сделки, &#8381
                                        </div>
                                    </div>
                                    <div class="order-params__right">
                                        <div class="order-params__big-text js-totalSumm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="blocj-btn">
                                    <a id="LinkNextStep" href="#">
                                        <span class="btn js-button"></span> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lite_exch about-index">
                        <h1 class="valuta-header">
                            Lite Exchange
                            <br>
                            обменяйте валюту по выгодному курсу
                        </h1>
                        <ul class="list-group list-disc">
                            <li>
                                Покупаем и продаем доллары США и ЕВРО по выгордным курсам.
                            </li>
                            <li>
                                Выдаем наличную валюту в кассах
                                и банкоматах во всех крупных городах России.
                            </li>
                            <li>Фиксируем для Вас курс обмена на три рабочих дня.</li>
                        </ul>
                    </div>
                </div>
                <div class="aside_block">
                    <div class="curs_CB">
                        <h4 class="color-headers">Текущий курс ЦБ</h4>
                        <div class="tb_cursCB">
                            <table class="center hovertable" width="120">
                                @foreach (var node in ViewBag.CursCB.SelectNodes("ValCurs"))
                                 {
                                    foreach (var child in node.ChildNodes)
                                    {
                                        <tr>
                                            <td class="border-bottom">@child.SelectSingleNode("CharCode").InnerText</td>
                                            <td class="border-bottom">@child.SelectSingleNode("Value").InnerText</td>
                                        </tr>
                                    }
                                 }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>